/pkg/

# rspec failure tracking
.rspec_status

/ext/cpp_polygon_finder/PolygonFinder/Debug/*
/ext/cpp_polygon_finder/.metadata/
/ext/cpp_polygon_finder/RemoteSystemsTempFiles/
/ext/cpp_polygon_finder/Makefile
/ext/cpp_polygon_finder/cpp_polygon_finder.o
/ext/cpp_polygon_finder/cpp_polygon_finder.so
/ext/cpp_polygon_finder/mkmf.log
/lib/cpp_polygon_finder.so