/pkg/

.ruby-version
# rspec failure tracking
.rspec_status

/ext/cpp_polygon_finder/PolygonFinder/build/
/ext/cpp_polygon_finder/PolygonFinder/contrek
/ext/cpp_polygon_finder/PolygonFinder/build/*.o
/ext/cpp_polygon_finder/PolygonFinder/build/*.d
/ext/cpp_polygon_finder/Makefile
/ext/cpp_polygon_finder/cpp_polygon_finder.o
/ext/cpp_polygon_finder/cpp_polygon_finder.so
/ext/cpp_polygon_finder/mkmf.log
/lib/cpp_polygon_finder.so